/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #c54245;
  --ifm-color-primary-lightest: #d87e80;
  --ifm-color-primary-lighter: #ce6063;
  --ifm-color-primary-light: #cb5659;
  --ifm-color-primary-dark: #b5383a;
  --ifm-color-primary-darker: #ab3437;
  --ifm-color-primary-darkest: #8d2b2d;
  --ifm-code-font-size: 95%;
  --ifm-footer-background-color: #0c2c40
}

html footer {
  --ifm-footer-title-color: rgb(255, 255, 255);
  --ifm-footer-link-color: #dadde1;
  --ifm-footer-color: #dadde1;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Code block on top of a literate coding paragraph */
/* .markdown div[class*='language-']:has( + p.literate-coding) {
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  box-shadow: none !important;
  --ifm-pre-padding: 16px 16px 5px 16px !important;
} */

/* Code block on bottom of a literate coding paragraph */
/* .markdown p.literate-coding+div[class*='language-'] {
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  box-shadow: none !important;
  --ifm-pre-padding: 5px 16px 16px 16px !important;
} */

/* Code block between two literate coding paragraphs */
/* .markdown p.literate-coding+div[class*='language-']:has(+ p.literate-coding) {
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  box-shadow: none !important;
  --ifm-pre-padding: 5px 16px 5px 16px !important;
} */

.markdown p.literate-coding {
  z-index: 100;
  background-color: rgb(231, 233, 239);
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
  margin-top: calc(-4px + -1 * var(--ifm-pre-padding)) !important;
  margin: 0;
  padding: var(--ifm-pre-padding);
  display: block;
  border-left: #b75051 5px solid;
  border-bottom: rgb(215, 222, 227) 1px solid;
  border-top: rgb(215, 222, 227) 1px solid;
}

html[data-theme='dark'] .markdown p.literate-coding {
  background-color: rgb(52, 57, 71);
  border-left: #992527 5px solid;
  border-bottom: rgb(59, 65, 80) 1px solid;
  border-top: rgb(59, 65, 80) 1px solid;
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.tabs__item {
  margin: 5px !important;
  padding: 9px 25px;
  background-color: #453e43;
  border: 1.5px solid #453e43;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 375px) {
  .tabs__item {
    margin: 10px !important;
    font-size: 13px;
  }
}
.tabs__item:hover:not(.tabs__item--active) {
  border: 1.5px solid #c54245;
  color: #8d2b2d;
}
.tabs__item--active {
  background: #d87e80;
  border-color: #d87e80;
  color: #1c1c1c;
  box-shadow: 0px 8px 15px rgba(255, 213, 131, 0.1);
}
